<h1>Sample Configurations</h1>

<h2>2/3</h2>
<div id="example1" class="example">
  <div class="twothird">
    <p>16 Cols</p>
  </div>
  <div class="onethird">
    <p>8 Cols</p>
  </div>
</div>

<h2>Sidebar</h2>
<div id="example2" class="example">
  <div class="content">
    <p>18 Cols</p>
  </div>
  <div class="sidebar">
    <p>6 Cols</p>
  </div>
</div>


<h2>Quarters</h2>
<div id="example3" class="example">
  <div class="column">
    <p>6 Cols</p>
  </div>
  <div class="column">
    <p>6 Cols</p>
  </div>
  <div class="column">
    <p>6 Cols</p>
  </div>
  <div class="column">
    <p>6 Cols</p>
  </div>
</div>


<h2>Thirds</h2>
<div id="example4" class="example">
  <div class="column">
    <p>8 Cols</p>
  </div>
  <div class="column">
    <p>8 Cols</p>
  </div>
  <div class="column">
    <p>68Cols</p>
  </div>
</div>

<h2>Halves</h2>
<div id="example5" class="example">
  <div class="column">
    <p>12 Cols</p>
  </div>
  <div class="column">
    <p>12 Cols</p>
  </div>
</div>

